.hoveredCue {
  background-color: rgb(0, 255, 225);
}

.cueListContainer {
  height: 100%;
  overflow: hidden;
}

.cueList {
  display: grid;
  grid-row-gap: 5px;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  overflow-y: auto;
}

.cue {
  background-color: rgba(255, 0, 1, 0.22);
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: min-content;
  overflow: hidden;
  resize: none;

  &:hover {
    @extend .hoveredCue;

    cursor: pointer;
  }
}

.selectedCue {
  background-color: white;
}